

<div align="left" >
	<form name="form" ng-submit="addBook() " href="#!/" >
		<table  style="font-size: 20px" >
			<caption id="show"><center>BOOK DETAILS</center></caption>
			<tr >
				<td>ISBN</td>
				<td><input type="text" ng-model="showBook.ISBN" disabled=""></td>
			</tr>
			<tr>
				<td>TITLE</td>
				<td><input type="text" ng-model="showBook.TITLE" required ></td>
			</tr>
			<tr>
				<td>ID</td>
				<td><input type="text" ng-model="showBook.ID"  required></td>
			</tr>
			<tr>
				<td>AUTHOR</td>
				<td><input type="text" ng-model="showBook.AUTHOR" required></td>
			</tr>
			<tr>
				<td>IMAGE</td>
				<td><input type="text" ng-model="showBook.IMAGE" required></td>
			</tr>
			<tr>
				<td>PRICE</td>
				<td><input type="text" ng-model="showBook.PRICE" required></td>
			</tr>
			<tr>
				<td>Paperback</td>
				<td><input type="text" ng-model="showBook.Paperback" required></td>
			</tr>
			<tr>
				<td>Publisher</td>
				<td><input type="text" ng-model="showBook.Publisher" required></td>
			</tr>
			<tr>
				<td>Language</td>
				<td><input type="text" ng-model="showBook.Language" required></td>
			</tr>
			<tr>
				<td>ProductDimesons</td>
				<td><input type="text" ng-model="showBook.ProductDimensions" required></td>
			</tr>
			<tr>
				<td>DESCREPTION</td>
				<td><input type="text" ng-model="showBook.DESCREPTION" required></td>
			</tr>
			<tr>
				<td ><a href="#/!" class="edit">HOME</a></td>
				<td colspan="2"><input   type="submit" class="submit" ></td>
			</tr>
		</table>
	</form>
	<div> 

		

	