<a  href="#!editBook" ng-click="clear();" class="addNew" style="float: left;"  >ADD BOOK</a>
<div class="edit" style="float: right;">TOTAl BOOKS: {{books.length}}</div>
<br><br><br><br>
<table>
	<tr ng-repeat="book in books" class="row" valign="top" style="float: left;margin: 5px">
		
		<td class="cols-md-4"><img ng-src="{{book.IMAGE}}"><br>
			<a href="#!view" ng-click="show($index)"><b style="font-size: 25px;  max-width: 50px;" >{{book.TITLE}} </b>
			</a>
			<br>Price Rs. {{book.PRICE}}
			<br><b>Author :</b> {{book.AUTHOR}}<br><br>
			<a class="edit" ng-click="show($index)" href="#!editBook" >EDIT DETAILS</a>
			
			<br><br>
			<button class="delete" ng-click="deleteBook($index)">DELETE DETAILS</button>
		</td>
	</tr>
</table>