<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="student" class="com.techlabs.factory.Student">
		<constructor-arg ref="mobile" />
	</bean>
	<bean name="mobile" class="com.techlabs.factory.Mobile">
		<constructor-arg ref="sim" />
	</bean>
	<bean name="sim" class="com.techlabs.factory.Sim">
		<constructor-arg ref="vendor" />
	</bean>
	<bean name="vendor" class="com.techlabs.factory.Vendor"></bean>

</beans>