<section id="add">

    <form>
        <br>
        <pre>
        Image:      <input type="text" id="image" ng-model="image"/><br> 
        Title:      <input type="text" id="title" ng-model="title" /><br> 
        Author:     <input type="text" id="author" ng-model="author"/><br> 
        Price:      <input type="text" id="price" ng-model="price"/><br> 
        Description:<input type="text" id="Description" ng-model="description" /><br>

                    <input type="button" id="addBook" value="Add" ng-click="addBook()" />      <input  type="button"  id="home" value="Back" />
        </pre>
    </form>
</section>
